body{
    background-image: url("./fondo.jpg ");
    
}

h1{
    color: aliceblue;
    background-color: rgb(70, 70, 70);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}

h2{
    color: aliceblue;
    background-color: rgb(70, 70, 70);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center; 
}

a{
    background-color: rgb(70, 70, 70);
}
